<!DOCTYPE HTML>
<html>
    <head>
        <title>Otaku Manga Reader</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/reveal.js/css/reveal.css') }}"></link>   
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/reveal.js/css/theme/blood.css') }}"></link>   
    </head>
    <body>
        {% block slides %}
        <p>Contents Block goes here.</p>
        {% endblock %}
        <script src="{{ url_for('static', filename='lib/reveal.js/js/reveal.js') }}"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
