{% extends "base.html" %}

{% block slides %}
<link rel="stylesheet" href="{{ url_for('static', filename='lib/reveal.js/plugin/fullscreen-img/fullscreen-img.css') }}" />
<style>
/*.scrollable-slide {
    max-height: 800px;
    height: auto/10;
    width: auto;
    overflow-y: auto !important;
    }*/
.reveal .slides {
      height: 100% !important;
      top: auto !important;
      margin-top: 0 !important;
}

.reveal .slides>section {
    min-height: 90% !important;
    top: auto !important;
}

.reveal .slides>section>section {
    min-height: 100% !important;
    top: auto !important;
}
</style>

<div class ="reveal">
    <div class ="slides">
        
        <section data-markdown>
            <textarea data-template>
                # {{ manga_name }}
                ## {{ chapter }}
                ** {{ title }} **
            </textarea>
        </section>
        
        {% for slide in slides_list %}
        
        <section fullscreen-img='{{ slide }}' fullscreen-size='contain'>
        </section>
        
        {% else %}
        
        <section>There were no slides man!</section>

        {% endfor %}
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.min.js" integrity="sha256-+09kLhwACKXFPDvqo4xMMvi4+uXFsRZ2uYGbeN1U8sI=" crossorigin="anonymous"></script>

<script src="{{ url_for('static', filename='lib/reveal.js/js/reveal.js') }}"></script>
<script src="{{ url_for('static', filename='lib/reveal.js/plugin/markdown/marked.js') }}"></script>
<script src="{{ url_for('static', filename='lib/reveal.js/plugin/markdown/markdown.js') }}"></script>
<script src="{{ url_for('static', filename='lib/reveal.js/plugin/fullscreen-img/fullscreen-img.js') }}"></script>
<script>
    Reveal.initialize({
        dependencies: [
            {src: 'lib/reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            {src: 'lib/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            {src: 'lib/reveal.js/plugin/fullscreen-img/fullscreen-img.js'}
            ],
        markdown: {
            smartypants: true
        },
        slideNumber: true,
        hideAddressBar: true,
        transition: "convex",
        margin:0,
        width: "100%",
        height: "100%"
    });
    function resetSlideScrolling(slide) {
        $(slide).removeClass("scrollable-slide");
    }
    function handleSlideScrolling(slide) {
        if ($(slide).height()>= 800) {
            $(slide).addClass('scrollable-slide');
        }
    }
    Reveal.addEventListener('ready', function(event) {
        handleSlideScrolling(event.currentSlide);
    });
    Reveal.addEventListener('slidechanged', function(event) {
        resetSlideScrolling(event.previousSlide)
        handleSlideScrolling(event.currentSlide);
    });
</script>
{% endblock %}
